{% extends "layout.html" %} 
{% block JavaScript %}
{% endblock JavaScript %}	

{% block content %}
<h1>Changes</h1><br>
<h2>Version 0.3 </h2> 
<pre>

(November 6, 2020 )

- Added "minor capsid" back
- Updated the model and confidence scores

</pre>

<h2>Version 0.2 </h2>
<pre>

(June 18, 2020)

- Removed "minor capsid" from the predictions
  and trained a new model.
- Rename "precision" to "confidence" to make
  it easier to interpret the score.
- "Confidence" is now formatted as percentage.
- Added this page.
</pre>


{% endblock content %}
