{% extends "layout.html" %} 
{% block JavaScript %}
{% endblock JavaScript %}

{% block content %}
For each input sequence, PhANNs run 10 ANNs predictions. Each of those 10 ANNs outputs
the soft-max scores for every class (a number between 0 and 1, such that the score of each class adds to 1). <br>
PhANNs outputs the per class sum of the ANNs scores (a number between 0 and 10).
 The input sequence is classified as the class with the highest score (highlighted in yellow).
Furthermore the "Confidence" score shows which percentage of sequences in the test set, classified as that class with that score or better, were correctly classified.

 <img src="{{ fix_url_for('static', filename='Fig5.jpg') }}" alt="Confidence Plot" class="center" > 

{% endblock content %}
