{% extends "layout.html" %} 
{% block JavaScript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
	
	function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    
	var red_dest="http://0.0.0.0:8080/upload";
	var source = new EventSource("/progress/{{ filename }}");
	source.addEventListener('update', function(e) {
			$('.progress-bar').css('width', e.data+'%').attr('aria-valuenow', e.data);
			$('.progress-bar-label').text(e.data+'%');
	},false);

	source.addEventListener('url', function(e) {
	var data = JSON.parse(e.data);
	red_dest=data.url;
	source.close()
	window.location.replace(red_dest);
	}, false);
	
	async function change_text(e) {
        var dots = ['.', '...', '.....'];
        while (source.readyState == 1 ) {
            for (x of dots) {
                document.getElementById("p1").innerHTML = "Predicting" + x;
                await sleep(1000);
            }
        }
	}
	
	source.addEventListener('running', change_text ,false);
	</script>
	
	
{% endblock JavaScript %}	

{% block content %}
<p id="p0">extracting features</p>
<div class="progress" style="width: 100%; margin: 50px;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>
<p id="p1"></p>
{% endblock content %}
