{% extends "layout.html" %} 
{% block JavaScript %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
	var red_dest="http://0.0.0.0:8080/upload";
	var source = new EventSource("/progress");
	source.addEventListener('update', function(e) {
			$('.progress-bar').css('width', e.data+'%').attr('aria-valuenow', e.data);
			$('.progress-bar-label').text(e.data+'%');

			if(e.data == 100){
				source.close()
			// Simulate an HTTP redirect:
				window.location.replace(red_dest);
				//window.location.href(red_dest);
			}
	},false);

	source.addEventListener('url', function(e) {
	var data = JSON.parse(e.data);
	red_dest=data.url;
	}, false);
	</script>
{% endblock JavaScript %}	

{% block content %}
<div class="progress" style="width: 100%; margin: 50px;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>
{% endblock content %}
